
*{
   margin: 15px;
   padding: 10px;
   border-radius: 10px;
   text-align: center;
}
input,select,textarea{
   border: #eaeaea;

}
img{
   height: 200px;
   width: 200px;
   display: block;
   align-items: center;
}
body {
   background-color: #faf3e0;
   color: #2c3e50;
   font-family: Arial, sans-serif
   
}

h1 {
   font-size: 32px;
   color: #0077b6;
   text-align: center;
}
h2{
   font-size: 24px;
   color:  #f4a261;
}

textarea::placeholder{
   color: #f4a261;
}

form {
   background-color: white;
}

body.oscuro{
   background-color: black;
   color: white;
}
body.claro{
   background-color: white;
   color: black;
}


